* {
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
}

body {
    font-family: Arial;
    margin: 0;
    background-color: beige;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: lightcyan;
    color:black
    
}

header h1 {
    margin: 2%;
    font-size: 200%;
    font-family: serif;
}

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
   }

nav a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

main {
    background-color: beige;
    display: flex;
    flex: 1 1 0;;
    max-width: 1200px;
    margin: 2% auto;
    flex-wrap: wrap;
}

aside {
    flex: 1;
    border-width: 4px;
    border-right: solid;
    border-color: black;
    padding: 20px 50px 80px;
}

.aside h3{
    text-align: left;
}

article {
    flex: 10;
    padding: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer {
    flex-shrink: 0;
    padding: 40px;
    font-size: 30px;
    text-align: center;
    background: lightcyan;
    color: black;
}

footer p{
    font-size: 15px;
}

.about-ken{
    padding: 30%;
    text-align: center;
}

.projects{
    padding: 40%;
    text-align: center;
}

.contact-ken{
    padding: 10%;
    text-align: center;
}

.resume{
    padding: 40%;
    text-align: center;
}

.aboutken {
    padding: 20px;
}

.detail {
    flex: 4;
    background-color: beige;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    padding: 10px;
    flex: 0 0 580px;
}


/*.projectsinfo {
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    padding: 10px;
    flex: 0 0 580px;
}

.contactinfo {
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    padding: 10px;
    flex: 0 0 580px;
}

.resumeinfo {
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    padding: 10px;
    flex: 0 0 580px;
}*/

@media screen and (max-width: 768px) {
    main,
    nav,
    article,
    /*aside,*/
    footer {
        flex-direction: column;
    }
}

/*@media screen and (min-width: 768px) {
    main,
    nav, 
    article,
    footer {
        flex-direction: column;
    }

}*/